################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RegistrationDB/RegistrationDB.dbmdl
/RegistrationDB/RegistrationDB.jfm
